"""
    CS2Cap

    CS2Cap aggregates and analyzes Counter-Strike 2 marketplace data across multiple providers via a unified REST API.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import warnings
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from pydantic import Field, StrictInt, StrictStr
from typing import Any, List, Optional
from typing_extensions import Annotated
from cs2cap.models.recent_sales_provider import RecentSalesProvider
from cs2cap.models.sales_history_response import SalesHistoryResponse

from cs2cap.api_client import ApiClient, RequestSerialized
from cs2cap.api_response import ApiResponse
from cs2cap.rest import RESTResponseType


class SalesApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @validate_call
    def list_recent_sales(
        self,
        item_id: Annotated[Optional[StrictInt], Field(description="Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase.")] = None,
        market_hash_name: Annotated[Optional[StrictStr], Field(description="Optional market_hash_name to filter for specific item. Ignored when item_id is provided.")] = None,
        phase: Annotated[Optional[Any], Field(description="Optional phase to filter (global or combined with market_hash_name). Ignored when item_id is provided.")] = None,
        providers: Annotated[Optional[List[RecentSalesProvider]], Field(description="Providers to include (provider-key enum values that support recent sales). Repeat `providers` to pass multiple values.")] = None,
        currency: Annotated[Optional[StrictStr], Field(description="Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.")] = None,
        limit: Annotated[Optional[Annotated[int, Field(strict=True, ge=1)]], Field(description="Maximum number of results to return. Defaults to the effective tier cap.")] = None,
        cursor: Annotated[Optional[StrictStr], Field(description="Cursor for keyset pagination. Use next_cursor from previous response. When provided, offset is ignored and keyset pagination is used for O(1) seek.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> SalesHistoryResponse:
        """List Recent Sales

        Return recent sales across providers with recent-sales support, newest first.  With no filters, returns the global recent-sales feed ordered by sale time (most recent first). Optional filters narrow the results: - `item_id` — restrict to one catalog item (its canonical market_hash_name and phase are used) - `market_hash_name` (+ optional `phase`) — restrict to one item by name - `providers` — restrict to specific sales-capable provider keys - `currency` — convert values to the target currency  Pagination: - `limit` sets the page size (max 100 for Pro, 1000 for Quant) - pass `cursor` from the previous response's `pagination.next_cursor` to page through results; `pagination.total` is `-1` (count intentionally skipped)  Behavior: - recent-sales data refreshes roughly once every 24 hours, so results may be up to a day old  Response: - request metadata, providers queried, and a cursor pagination footer - sales records with sticker, charm, and inspect metadata when available

        :param item_id: Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase.
        :type item_id: int
        :param market_hash_name: Optional market_hash_name to filter for specific item. Ignored when item_id is provided.
        :type market_hash_name: str
        :param phase: Optional phase to filter (global or combined with market_hash_name). Ignored when item_id is provided.
        :type phase: PhaseName
        :param providers: Providers to include (provider-key enum values that support recent sales). Repeat `providers` to pass multiple values.
        :type providers: List[RecentSalesProvider]
        :param currency: Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.
        :type currency: str
        :param limit: Maximum number of results to return. Defaults to the effective tier cap.
        :type limit: int
        :param cursor: Cursor for keyset pagination. Use next_cursor from previous response. When provided, offset is ignored and keyset pagination is used for O(1) seek.
        :type cursor: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._list_recent_sales_serialize(
            item_id=item_id,
            market_hash_name=market_hash_name,
            phase=phase,
            providers=providers,
            currency=currency,
            limit=limit,
            cursor=cursor,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "SalesHistoryResponse",
            '401': "ErrorResponse",
            '403': "ErrorResponse",
            '429': "ErrorResponse",
            '422': "ValidationErrorResponse",
            '400': "ErrorResponse",
            '404': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def list_recent_sales_with_http_info(
        self,
        item_id: Annotated[Optional[StrictInt], Field(description="Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase.")] = None,
        market_hash_name: Annotated[Optional[StrictStr], Field(description="Optional market_hash_name to filter for specific item. Ignored when item_id is provided.")] = None,
        phase: Annotated[Optional[Any], Field(description="Optional phase to filter (global or combined with market_hash_name). Ignored when item_id is provided.")] = None,
        providers: Annotated[Optional[List[RecentSalesProvider]], Field(description="Providers to include (provider-key enum values that support recent sales). Repeat `providers` to pass multiple values.")] = None,
        currency: Annotated[Optional[StrictStr], Field(description="Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.")] = None,
        limit: Annotated[Optional[Annotated[int, Field(strict=True, ge=1)]], Field(description="Maximum number of results to return. Defaults to the effective tier cap.")] = None,
        cursor: Annotated[Optional[StrictStr], Field(description="Cursor for keyset pagination. Use next_cursor from previous response. When provided, offset is ignored and keyset pagination is used for O(1) seek.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[SalesHistoryResponse]:
        """List Recent Sales

        Return recent sales across providers with recent-sales support, newest first.  With no filters, returns the global recent-sales feed ordered by sale time (most recent first). Optional filters narrow the results: - `item_id` — restrict to one catalog item (its canonical market_hash_name and phase are used) - `market_hash_name` (+ optional `phase`) — restrict to one item by name - `providers` — restrict to specific sales-capable provider keys - `currency` — convert values to the target currency  Pagination: - `limit` sets the page size (max 100 for Pro, 1000 for Quant) - pass `cursor` from the previous response's `pagination.next_cursor` to page through results; `pagination.total` is `-1` (count intentionally skipped)  Behavior: - recent-sales data refreshes roughly once every 24 hours, so results may be up to a day old  Response: - request metadata, providers queried, and a cursor pagination footer - sales records with sticker, charm, and inspect metadata when available

        :param item_id: Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase.
        :type item_id: int
        :param market_hash_name: Optional market_hash_name to filter for specific item. Ignored when item_id is provided.
        :type market_hash_name: str
        :param phase: Optional phase to filter (global or combined with market_hash_name). Ignored when item_id is provided.
        :type phase: PhaseName
        :param providers: Providers to include (provider-key enum values that support recent sales). Repeat `providers` to pass multiple values.
        :type providers: List[RecentSalesProvider]
        :param currency: Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.
        :type currency: str
        :param limit: Maximum number of results to return. Defaults to the effective tier cap.
        :type limit: int
        :param cursor: Cursor for keyset pagination. Use next_cursor from previous response. When provided, offset is ignored and keyset pagination is used for O(1) seek.
        :type cursor: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._list_recent_sales_serialize(
            item_id=item_id,
            market_hash_name=market_hash_name,
            phase=phase,
            providers=providers,
            currency=currency,
            limit=limit,
            cursor=cursor,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "SalesHistoryResponse",
            '401': "ErrorResponse",
            '403': "ErrorResponse",
            '429': "ErrorResponse",
            '422': "ValidationErrorResponse",
            '400': "ErrorResponse",
            '404': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def list_recent_sales_without_preload_content(
        self,
        item_id: Annotated[Optional[StrictInt], Field(description="Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase.")] = None,
        market_hash_name: Annotated[Optional[StrictStr], Field(description="Optional market_hash_name to filter for specific item. Ignored when item_id is provided.")] = None,
        phase: Annotated[Optional[Any], Field(description="Optional phase to filter (global or combined with market_hash_name). Ignored when item_id is provided.")] = None,
        providers: Annotated[Optional[List[RecentSalesProvider]], Field(description="Providers to include (provider-key enum values that support recent sales). Repeat `providers` to pass multiple values.")] = None,
        currency: Annotated[Optional[StrictStr], Field(description="Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.")] = None,
        limit: Annotated[Optional[Annotated[int, Field(strict=True, ge=1)]], Field(description="Maximum number of results to return. Defaults to the effective tier cap.")] = None,
        cursor: Annotated[Optional[StrictStr], Field(description="Cursor for keyset pagination. Use next_cursor from previous response. When provided, offset is ignored and keyset pagination is used for O(1) seek.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """List Recent Sales

        Return recent sales across providers with recent-sales support, newest first.  With no filters, returns the global recent-sales feed ordered by sale time (most recent first). Optional filters narrow the results: - `item_id` — restrict to one catalog item (its canonical market_hash_name and phase are used) - `market_hash_name` (+ optional `phase`) — restrict to one item by name - `providers` — restrict to specific sales-capable provider keys - `currency` — convert values to the target currency  Pagination: - `limit` sets the page size (max 100 for Pro, 1000 for Quant) - pass `cursor` from the previous response's `pagination.next_cursor` to page through results; `pagination.total` is `-1` (count intentionally skipped)  Behavior: - recent-sales data refreshes roughly once every 24 hours, so results may be up to a day old  Response: - request metadata, providers queried, and a cursor pagination footer - sales records with sticker, charm, and inspect metadata when available

        :param item_id: Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase.
        :type item_id: int
        :param market_hash_name: Optional market_hash_name to filter for specific item. Ignored when item_id is provided.
        :type market_hash_name: str
        :param phase: Optional phase to filter (global or combined with market_hash_name). Ignored when item_id is provided.
        :type phase: PhaseName
        :param providers: Providers to include (provider-key enum values that support recent sales). Repeat `providers` to pass multiple values.
        :type providers: List[RecentSalesProvider]
        :param currency: Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.
        :type currency: str
        :param limit: Maximum number of results to return. Defaults to the effective tier cap.
        :type limit: int
        :param cursor: Cursor for keyset pagination. Use next_cursor from previous response. When provided, offset is ignored and keyset pagination is used for O(1) seek.
        :type cursor: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._list_recent_sales_serialize(
            item_id=item_id,
            market_hash_name=market_hash_name,
            phase=phase,
            providers=providers,
            currency=currency,
            limit=limit,
            cursor=cursor,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "SalesHistoryResponse",
            '401': "ErrorResponse",
            '403': "ErrorResponse",
            '429': "ErrorResponse",
            '422': "ValidationErrorResponse",
            '400': "ErrorResponse",
            '404': "ErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _list_recent_sales_serialize(
        self,
        item_id,
        market_hash_name,
        phase,
        providers,
        currency,
        limit,
        cursor,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
            'providers': 'multi',
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        if item_id is not None:
            
            _query_params.append(('item_id', item_id))
            
        if market_hash_name is not None:
            
            _query_params.append(('market_hash_name', market_hash_name))
            
        if phase is not None:
            
            _query_params.append(('phase', phase.value))
            
        if providers is not None:
            
            _query_params.append(('providers', providers))
            
        if currency is not None:
            
            _query_params.append(('currency', currency))
            
        if limit is not None:
            
            _query_params.append(('limit', limit))
            
        if cursor is not None:
            
            _query_params.append(('cursor', cursor))
            
        # process the header parameters
        # process the form parameters
        # process the body parameter


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )


        # authentication setting
        _auth_settings: List[str] = [
            'BearerAuth'
        ]

        return self.api_client.param_serialize(
            method='GET',
            resource_path='/v1/sales',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )


